body,html{
  width:100vw;
  height:100vh;
  font-family:'Lato';
  font-weight:100;
}

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}



$tiempos:20s,23s,26s,29s,31s;
$elementos:5;
$borde:4px;
// función que devuelva la anchura.
 
@function element-width($grid-width,$elementos) {
  @return $grid-width / $elementos;
}
 
@mixin animaciones{
	

	@for $i from 1 through $elementos{

		&:nth-child(#{$i}){
			left:element-width(100%,5) * ($i - 1);
			
			-webkit-animation-duration:nth($tiempos,$i);
			-moz-animation-duration:nth($tiempos,$i);
			-ms-animation-duration:nth($tiempos,$i);
			animation-duration:nth($tiempos,$i);
		}

	}
}


.header{
	width:100%;
	height:20%;
	background: RGBA(183, 160, 174, 1.00);
  z-index:100;
  text-align:center;
}
.footer{
	width:100%;
	height:20%;
	background: RGBA(183, 160, 174, 1.00);
    text-align:center;
}
a
{
  text-decoration:none;
  color:black;
}

.proyectos
{
  background:RGBA(183, 160, 174, .5);

  .content
  {
    //background:grey;
    position:relative;
    overflow:hidden;
    .row:nth-child(1)
    {
      background:yellow;
      height:60vh;
      display:table;
      table-layout:fixed;
      
      .col
      {
        display:table-cell;
        background:olive;
        height:60vh;
        .secondary-row
        {
          display:table;
					table-layout:fixed;
          width:20vw;
          border: 2px solid grey;
          height:60vh;
          position:absolute;
          top:0;
          
          @include animaciones;
          
          -webkit-animation: animaProyectos linear 1 forwards paused;
					-moz-animation: animaProyectos linear 1 forwards paused;
					-ms-animation: animaProyectos linear 1 forwards paused;
					animation: animaProyectos linear 1 forwards paused;
          
          .secondary-col
          {

            height: -moz-calc((60vh - 4px) -      4px);
						height: calc(60vh - 4px);
            .third-row
            {
              height:100%;
              display:flex;
              flex-direction:column;
              justify-content: center;
              .third-col
              {
                .first-item
                {
                  a
                  {
                    text-align: center;
										text-decoration: none;
										color: white;
										display: block;
                    h2
                    {
                     display:table;
											margin: 0 auto;
                      position:relative;
                      .underline
                      {
                          display:table-cell;
                          position:absolute;
											    top:100%;
											    left:0;
											    width:0;
											   	border-bottom: 1px solid white;
                          -webkit-animation: underline 3s ease-in-out 1 alternate forwards paused;
											   		-moz-animation: underline 3s ease-in-out 1 alternate forwards paused;
											   		-ms-animation: underline 3s ease-in-out 1 alternate forwards paused;
											   		animation: underline 3s ease-in-out 1 alternate forwards paused;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .row:nth-child(2){
			display:table;
			table-layout:fixed;
			width:100%;
			height: 100%;
			background: RGBA(208, 207, 204, 1.00);
			position:absolute;
			top: 9000px;
			
			.col{
				display:table-cell;
				height: 100%;
				background: yellow;
				.secondary-row{
					display:table;
					table-layout:fixed;
					width:100%;
					height: 100%;
					background: orange;
					.secondary-col{
						display:table-cell;
						height: 100%;
						background:RGBA(208, 207, 204, 1.00);
						
						.cargaProyectos{
							width: 70%;
							height: 100%;
							margin: 0 auto;
              padding:1em;
              line-height:1.2em;
              color: rgba(73, 97, 131, 1);
							background: rgba(73, 97, 131,.5);
							position:relative;
							.proyecto{
								background: orange;
								width: 100%;
								height: 50%;
								position:absolute;
								top:25%;
							}
							
						}
					}
				}
			}
		}
  }
	
}

/*animamos el subrayado*/

	@-webkit-keyframes underline{
		0% {
			width: 0;
		}
		100% {
			width: 100%;
		}
	}

	@-ms-keyframes underline{
		0% {
			width: 0;
		}
		100% {
			width: 100%;
		}
	}


	@-o-keyframes underline{
		0% {
			width: 0;
		}
		100% {
			width: 100%;
		}
	}
	@-moz-keyframes underline{
		0% {
			width: 0;
		}
		100% {
			width: 100%;
		}
	}

/*animamos las cajas de los proyectos*/

	@-webkit-keyframes animaProyectos{
		0% {
			top:0;
		}
		100% {
			top: -9000px;
		}
	}

	@-ms-keyframes animaProyectos{
		0% {
			top:0;
		}
		100% {
			top: -9000px;
		}
	}


	@-o-keyframes animaProyectos{
		0% {
			top:0;
		}
		100% {
			top: -9000px;
		}
	}
	@-moz-keyframes animaProyectos{
		0% {
			top:0;
		}
		100% {
			top: -9000px;
		}
	}


