* {
  box-sizing: border-box;
}

body {
  background: #666;
  font-family: monospace;
}
.container, #menu {
  width: 100px;
  height: 100px;
  margin: 50px 20px;
  background: #fefefe;
  border: 10px solid;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}
.container::before {
  content: "";
  width: 13px;
  height: 35px;
  background: black;
  position: absolute;
  left: 25%;
  top: 42%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transform: rotate(-52deg);
  display: none;
}

.container::after {
  content: "";
  width: 13px;
  height: 60px;
  background: black;
  position: absolute;
  right: 27%;
  bottom: 12%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transform: rotate(35deg);
  display: none;
}
.container:hover.container::before,
.container:hover.container::after {
  display: block;
}
p {
  color: #fefefe;
  font-size: 25px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
p:hover {
  color: #770000;
}
#menu {
  transition: transform 500ms;
}
.rotate {
  transform: rotate(360deg);
}