body, html {
  width: 100vw;
  height: 100vh;
  font-family: 'Lato';
  font-weight: 100;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 20%;
  background: RGBA(183, 160, 174, 1);
  z-index: 100;
  text-align: center;
}

.footer {
  width: 100%;
  height: 20%;
  background: RGBA(183, 160, 174, 1);
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

.proyectos {
  background: RGBA(183, 160, 174, 0.5);
}
.proyectos .content {
  position: relative;
  overflow: hidden;
}
.proyectos .content .row:nth-child(1) {
  background: yellow;
  height: 60vh;
  display: table;
  table-layout: fixed;
}
.proyectos .content .row:nth-child(1) .col {
  display: table-cell;
  background: olive;
  height: 60vh;
}
.proyectos .content .row:nth-child(1) .col .secondary-row {
  display: table;
  table-layout: fixed;
  width: 20vw;
  border: 2px solid grey;
  height: 60vh;
  position: absolute;
  top: 0;
  -webkit-animation: animaProyectos linear 1 forwards paused;
  -moz-animation: animaProyectos linear 1 forwards paused;
  -ms-animation: animaProyectos linear 1 forwards paused;
  animation: animaProyectos linear 1 forwards paused;
}
.proyectos .content .row:nth-child(1) .col .secondary-row:nth-child(1) {
  left: 0%;
  -webkit-animation-duration: 20s;
  -moz-animation-duration: 20s;
  -ms-animation-duration: 20s;
  animation-duration: 20s;
}
.proyectos .content .row:nth-child(1) .col .secondary-row:nth-child(2) {
  left: 20%;
  -webkit-animation-duration: 23s;
  -moz-animation-duration: 23s;
  -ms-animation-duration: 23s;
  animation-duration: 23s;
}
.proyectos .content .row:nth-child(1) .col .secondary-row:nth-child(3) {
  left: 40%;
  -webkit-animation-duration: 26s;
  -moz-animation-duration: 26s;
  -ms-animation-duration: 26s;
  animation-duration: 26s;
}
.proyectos .content .row:nth-child(1) .col .secondary-row:nth-child(4) {
  left: 60%;
  -webkit-animation-duration: 29s;
  -moz-animation-duration: 29s;
  -ms-animation-duration: 29s;
  animation-duration: 29s;
}
.proyectos .content .row:nth-child(1) .col .secondary-row:nth-child(5) {
  left: 80%;
  -webkit-animation-duration: 31s;
  -moz-animation-duration: 31s;
  -ms-animation-duration: 31s;
  animation-duration: 31s;
}
.proyectos .content .row:nth-child(1) .col .secondary-row .secondary-col {
  height: -moz-calc((60vh - 4px) -      4px);
  height: calc(60vh - 4px);
}
.proyectos .content .row:nth-child(1) .col .secondary-row .secondary-col .third-row {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.proyectos .content .row:nth-child(1) .col .secondary-row .secondary-col .third-row .third-col .first-item a {
  text-align: center;
  text-decoration: none;
  color: white;
  display: block;
}
.proyectos .content .row:nth-child(1) .col .secondary-row .secondary-col .third-row .third-col .first-item a h2 {
  display: table;
  margin: 0 auto;
  position: relative;
}
.proyectos .content .row:nth-child(1) .col .secondary-row .secondary-col .third-row .third-col .first-item a h2 .underline {
  display: table-cell;
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  border-bottom: 1px solid white;
  -webkit-animation: underline 3s ease-in-out 1 alternate forwards paused;
  -moz-animation: underline 3s ease-in-out 1 alternate forwards paused;
  -ms-animation: underline 3s ease-in-out 1 alternate forwards paused;
  animation: underline 3s ease-in-out 1 alternate forwards paused;
}
.proyectos .content .row:nth-child(2) {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
  background: RGBA(208, 207, 204, 1);
  position: absolute;
  top: 9000px;
}
.proyectos .content .row:nth-child(2) .col {
  display: table-cell;
  height: 100%;
  background: yellow;
}
.proyectos .content .row:nth-child(2) .col .secondary-row {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
  background: orange;
}
.proyectos .content .row:nth-child(2) .col .secondary-row .secondary-col {
  display: table-cell;
  height: 100%;
  background: RGBA(208, 207, 204, 1);
}
.proyectos .content .row:nth-child(2) .col .secondary-row .secondary-col .cargaProyectos {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  padding: 1em;
  line-height: 1.2em;
  color: #496183;
  background: rgba(73, 97, 131, 0.5);
  position: relative;
}
.proyectos .content .row:nth-child(2) .col .secondary-row .secondary-col .cargaProyectos .proyecto {
  background: orange;
  width: 100%;
  height: 50%;
  position: absolute;
  top: 25%;
}

/*animamos el subrayado*/
@-webkit-keyframes underline {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@-ms-keyframes underline {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@-o-keyframes underline {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@-moz-keyframes underline {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
/*animamos las cajas de los proyectos*/
@-webkit-keyframes animaProyectos {
  0% {
    top: 0;
  }
  100% {
    top: -9000px;
  }
}
@-ms-keyframes animaProyectos {
  0% {
    top: 0;
  }
  100% {
    top: -9000px;
  }
}
@-o-keyframes animaProyectos {
  0% {
    top: 0;
  }
  100% {
    top: -9000px;
  }
}
@-moz-keyframes animaProyectos {
  0% {
    top: 0;
  }
  100% {
    top: -9000px;
  }
}
