
body {
	font-family: 'Montserrat', sans-serif;
	font-size-adjust: none;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-align: center;
	background-color: darkslategrey;
}

.row-percent{
	border: 6px solid red;
    display: grid;
    box-sizing: border-box;
    grid-gap: 10px;
    grid-template-columns: repeat(100, 1fr)	;
}


[class^="per-"] { 
	background-color: #46b2fd;
    color: #fff;
    padding: 12px;
}



.per-100 { grid-column-end: span 100 }
.per-95  { grid-column-end: span 95 } 
.per-90  { grid-column-end: span 90 } 
.per-85  { grid-column-end: span 85 } 
.per-80  { grid-column-end: span 80 } 
.per-75  { grid-column-end: span 75 } 
.per-70  { grid-column-end: span 70 } 
.per-65  { grid-column-end: span 65 } 
.per-60  { grid-column-end: span 60 } 

.per-55  { grid-column-end: span 55 } 
.per-50  { grid-column-end: span 50 } 
.per-45  { grid-column-end: span 45 }
.per-40  { grid-column-end: span 40 } 
.per-35  { grid-column-end: span 35 } 
.per-30  { grid-column-end: span 30 } 
.per-25  { grid-column-end: span 25 }
.per-20  { grid-column-end: span 20 } 
.per-15  { grid-column-end: span 15 } 
.per-10  { grid-column-end: span 10 } 
.per-05  { grid-column-end: span 5 } 






.row-3> div { grid-column-end: span 33; margin-left:12px;} 
.col-16>div { grid-column-end: span 16 }




.invisible{
    background-color: transparent !important;
    border: none !important;
}

.to3columns{
    display: flex;
    padding: 10px 0;
}

.to3columns>div:nth-of-type(2n){
    margin: 0 9px; 
}

.to3columns>div{
    background-color:  #46b2fd;
    color: #fff;
    border-radius: 4px;
    padding: 12px;
    width: 33.3333333333333%; 
}













.to6columns{
    
    display: flex;
    padding: 10px 0;
 
}

.to6columns>div:first-child{
    margin-left:  0;
}

.to6columns>div{
    margin-left: 9px;
    background-color:  #46b2fd;
    color: #fff;
    border-radius: 4px;
    padding: 12px;
    width: 16.666666%;
}


@media (max-width: 1100px)   {
    .row-percent { grid-gap: 10px 0 }
    .row-percent > * { grid-column-end: span 100 }
 
}

img{ max-width:100%; }

h1,
h2 {
margin: 5px 0;
color: #fa025d
}

h1 {
font-size: 48px;
line-height: 1.18;
}

h2 {
font-size: 36px;
line-height: 1.3;
}

a {
color: #fff;
font-size: 18px;
}



@media (max-width: 600px) {
pre {
overflow-x: scroll;
}

}