*{
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
}

hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }

html{
    padding: 0;
}


body {
	font-family: 'Montserrat', sans-serif;
	font-size-adjust: none;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-align: center;
	background-color: darkslategrey;

    padding: 0;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


p{
    background-color: slateblue;
}



.gallery{
    width: 90%;
    margin: 5% auto;

    display: grid;
    gap: 20px;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 13rem), 1fr));
    border: 1px solid black;
    grid-auto-flow: dense;
}

@media (max-width:900px){
    .gallery{padding: 0;}
}

/*.featured{
    grid-column: span 2;
    border: 1px solid red;
}*/

.gallery>div{
    grid-column: span 1;
    background-color: slategray;

    display: flex;
    flex-direction: column;
}

.gallery>div>*{
    margin: auto;
    width: 100%;
    border: 1px solid red;
    margin-bottom: 20px;
  /*  display: flex;
    justify-content: space-around;
     flex-direction: column;*/
}
.gallery>div>div>button{
    width: 46%;
}

.gallery>div>div>button:first-child{
    float: left;
}
.gallery>div>div>button:last-child{
    float: right;
}

.gallery>div>div>div{
     border: 1px solid yellow;

}

.p-0{
    padding: 0;
}

.gallery>div>*:first-child{
    margin-top: 0;
}
.gallery>div>*:last-child{
    margin-bottom: 0;
}

.footer{
    background-color: darkcyan;
    min-height: 200px;
    margin-top: auto;
}



img{
    width: 100%;
    padding: 0;
}


