[class^="btn"]{
    width: 90%;
    margin:  .4% 5% ;
    overflow: hidden;
    padding: .5% 0;
  }

[class^="btn"]>div{
  margin-right: 2% ;
  float: left;
}
 
.btn>div{
  width: 100%;
} 
.btn_2>div {
  width: 49%;
 }
.btn_3>div {
  width: 32%;
 }
[class^="btn"]>div>input{
     background-color: rgba(224, 64, 64, 0.418); 
    padding: 5px 0;
    border-radius: 6px;
    margin: 0;
    width: 100%;
    color: #fff;
    text-transform: uppercase;
  }

[class^="btn"]>div:last-child {margin-right: 0;}

[class^="row"]>div>input{
  width: 100%;
}

var ToDo = []

text = id('text')

btn.addEventListener('click', () =>{
 arrayFiller()
text.value="" 
showToDo()
c(ToDo)
})

const arrayFiller = () =>{
    todo = text.value
    ToDo.push(todo)
}

const showToDo = () => {
    for(var i in ToDo){
        var Data=ToDo[i];
    }
    Div = ce('div')
    Div.className="row_3_1_1_1"

    btnDelet = ce('button')
    btnDelet.id='btnDelet'
    btnDelet.innerHTML='Delet';

    btnEdit = ce('button')
    btnEdit.innerHTML='Edit';

    btnImp = ce('button')
    btnImp.innerHTML='Imp';
    
    info = ce('div')
    info.innerHTML = Data
    Div.append(info, btnDelet,btnEdit,btnImp)
    display.appendChild(Div)





btnDelet.addEventListener('click', () => {
    ToDo.splice(i, 1);
    Div.remove();
   

  });
}