.row-percent{
    display: grid;
    box-sizing: border-box;
    grid-gap: 10px;
    grid-template-columns: repeat(100, 1fr);
    margin-bottom: 60px;
    background-color: black;
    padding: 6px;
}


[class^="per-"] { 
	background-color: #46b2fd;
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
    margin: 0;
    border: none;
    outline: none;
    box-shadow: none;
}



.per-100 { grid-column-end: span 100 }
.per-95  { grid-column-end: span 95 } 
.per-90  { grid-column-end: span 90 } 
.per-85  { grid-column-end: span 85 } 
.per-80  { grid-column-end: span 80 } 
.per-75  { grid-column-end: span 75 } 
.per-70  { grid-column-end: span 70 } 
.per-65  { grid-column-end: span 65 } 
.per-60  { grid-column-end: span 60 } 

.per-55  { grid-column-end: span 55 } 
.per-50  { grid-column-end: span 50 } 
.per-45  { grid-column-end: span 45 }
.per-40  { grid-column-end: span 40 } 
.per-35  { grid-column-end: span 35 } 
.per-30  { grid-column-end: span 30 } 
.per-25  { grid-column-end: span 25 }
.per-20  { grid-column-end: span 20 } 
.per-15  { grid-column-end: span 15 } 
.per-10  { grid-column-end: span 10 } 
.per-05  { grid-column-end: span 5 } 



.invisible{
    background-color: transparent !important;
    border: none !important;
    box-shadow: none;
    outline: none;
}



@media (max-width: 1100px)   {
    .row-percent { grid-gap: 10px 0 }
    .row-percent > * { grid-column-end: span 100 }

 
}